<!doctype html>

<html>
<head>
    <title>open / clothes</title>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->       
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <!--<link href="../public/css/bootstrap-theme.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="css/magic-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootply.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" type="text/css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
    
    <style>
      .btn-primary {
      opacity: .95; 
        font-size: 17px; 
            display: inline-block;
            height: 20px; 
            line-height: 20px; 
            width: 45%; 
            background-color: #f3adaa;   
            color: #664544; 
            outline-color: #999999;
            text-align: middle; 
            font-family: 'Duru Sans';  
            margin-left: 2px; 
            margin-top: 5px; 
             height: 35px;
            vertical-align: middle; 
            position: absolute;
            bottom: 10px; 
            left: 5px;
            border: none;
            border-color: transparent;
            font-family: 'Duru Sans', Verdana, sans-serif; 
        }

        .btn-primary:hover{
            opacity: .95; 
            background-color:#C48C95; 
            color:  #664544; 
            text-decoration: none; 
            font-family: 'Duru Sans', Verdana, sans-serif; 
        }
        
        .btn-default{
            opacity: .95; 
            font-size: 17px; 
            width: 45%; 
            height: 20px; 
            line-height: 20px; 
            background-color:#A6A6A6; 
            color:#664544; 
            text-align: center;
            display: inline-block;
            font-family: 'Duru Sans'; 
            margin-right: 2px;
            margin-top: 5px; 
            height: 35px;  
             vertical-align: middle;
                position: absolute;
            bottom: 10px; 
            right: 5px; 
            border: none; 
            border-color: transparent; 
            font-family: 'Duru Sans', Verdana, sans-serif; 
        }

        .btn-default:hover{
            opacity: .95; 
            color: #664544; 
            background-color: #808080;
            text-decoration: none; 
            font-family: 'Duru Sans', Verdana, sans-serif; 
        }
        #logo{
            opacity: .9;
            font-size: 20px;
            text-align: center;
            margin-bottom: 30px; 
            margin-top: 5px;   
            color:#664544;
            width: 100%; 
            background-color: transparent;
            font-family: 'Duru Sans', Verdana, sans-serif; 
            margin-left: -8px; 
        }
        body{
            height: 100%; 
        }

   
   
 </style>
</head> 

<body style="background-image:url(https://24.media.tumblr.com/1acf6a78a8789b7f1213932b57de3c4d/tumblr_n0wtspD2K41r3x6joo1_500.jpg); background-position:center; background-size: cover; background-repeat:no-repeat; background-color: transparant; font-family: 'Duru Sans'">


         <div class= "jumbotron" id="logo"><h1 style=" font-family: 'Duru Sans'"> open/clothes</h1></div>  
        
         <div class = "pull-left">
          <a class="btn btn-primary" href = "/login" style: "border: 0px; font-family: 'Duru Sans'">login</button></a>
         </div>
       
       <div class = "pull-right">
        <a class="btn btn-default" href="/register" style: "border: 0px; font-family: 'Duru Sans'">register</button> </a>
        </div>
      
    </body>
</html>


