<!doctype html>

<html>
<head>
    <title>open / clothes</title>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" 
      type="image/png" 
      href="favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->       
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <!--<link href="../public/css/bootstrap-theme.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="css/magic-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootply.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" type="text/css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
<style>
    #inputUsername{
        width: 100%; 
        float: center;  
         margin-bottom: 20px; 
          margin-top: 120px; 
    }

/*    #slogan {
        text-align: center; 
         font-size: 34px; 
         color: #999999;
                  margin-bottom: 10px; 
    }*/

    #inputPassword{
        width: 100%; 
        float: center;  
         margin-top: 0px; 
         margin-bottom: 20px; 
    }

    .btn-primary{
        width: 100%;
        float: center; 
            background-color: #C48C95;   
            color: #333333; 
            font-size:20px;
            outline-color: #999999;
            height: 35px; 
            line-height: 20px; 
            margin-bottom: 5px; 
                }

    .btn-primary:hover{
               color: #333333;

    }
       .btn-default{
        width: 100%;
        float: center; 
            background-color: #A6A6A6;   
            color: #333333; 
            font-size:20px;
            outline-color: #999999; 
            height: 35px; 
            line-height: 20px; 
    }



</style>
</head>

<body style="background-image:url(https://24.media.tumblr.com/d84696348838b1775e153d3569e84cc7/tumblr_n11vibL0LC1rvvkn1o1_400.jpg);  background-repeat:no-repeat; background-size:cover; font-family: 'Duru Sans'">  

    <div id="wrap" class="">
    <!-- Fixed navbar -->
       <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

                </button>--> <a class="navbar-brand" href="#">open / clothes</a>

            </div>
            <!--<div class="collapse navbar-collapse">
                <ul class="nav navbar-nav target">
                    <li class="active"><a href="/closet" class="">Closet</a>

                    </li>
                    <li><a href="/feed" class="">Feed</a>

                    </li>
                    <li><a href="/requests" class="">Notifications</a>

                    </li>
                    <li><a href="/logout" class="">Log Out</a>

                    </li>
                </ul>
            </div>-->
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- Begin page content -->
    <div class="container">

<!--      <div id="slogan" > welcome back! </div> -->
        <form id = "log-in" method="post" action="/loguserin">
            <input id="inputUsername" type="text" placeholder="username" name="username">
            <input id="inputPassword" type="password" placeholder="password" name="userpassword">
            <button class="btn btn-primary" type="submit">get dressed!</button>
        </form>

            <div> <a class="btn btn-default" href="/register" style: "border: 0px; font-family: 'Duru Sans'">I meant register!</button> </a> </div>

    </div>
    <div class="row"></div>
</div>
<div class = "navbar navbar-default navbar-fixed-bottom">
               
                        <div class = "container">
                                
                        </div>
               
                </div>

</div>
</body>
</html>
