<!doctype html>
<html>
<head>
    <title>open / clothes</title>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet"> 
    <!-- <link href="../public/css/bootstrap-theme.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="css/magic-bootstrap.css"> 
    <link rel="stylesheet" type="text/css" href="css/bootply.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">
  <link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style>


    .btn-primary{
        display: block;
        width: 100%;
        margin-top:35px; 
         background-color:  #ffb6c1;
        color: #ffffff; 
        border:0px; 
       
        font-size:20px; 


    }
    #inputUsername{
        width: 100%; 
        display: block;
        float: left;  
        margin-bottom:20px; 
        margin-top: 0px;

    }
    #inputName{
        width: 100%; 
        display: block;
        float: left;  
        margin-bottom:20px; 
        margin-top: 80px;
       
    }
    #inputEmail{
        width: 100%; 
        display: block;
        float: left;  
        margin-bottom:20px; 
        margin-top: 0px; 
       
    }
    #inputPassword{
        width: 100%; 
        display: block;
        float: left;  
        margin-bottom:20px; 
        margin-top: 0px; 

    }

     #logo{
            opacity: .9;
            font-size: 8px;
            text-align: center;
            margin-bottom: -30px; 
            margin-top: -30px;   
            color: #ffffff;
            width: 100%; 
            margin-left: 1px;
            margin-right: 1px; 
            background-color: transparent;
   
            
        }

        .tuticons{
           text-align: center;
           zoom: 3;
           margin-bottom: 2px; 
           margin-top: 2px; 
           opacity: .7; 
        }

        .span12{
            margin-top: 2px;
            margin-bottom: 2px; 
        }

        #iconew{
            zoom:3;
            text-align: center; 
        
        }      

</style>
</head>

<body style="background-image:url(http://subtlepatterns.com/patterns/mooning.png);  background-repeat:no-repeat;  background-size:cover; font-family: 'Duru Sans'">  
   <div id="wrap" class="">
    <!-- Fixed navbar -->
       <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

                </button>--> <a class="navbar-brand" href="#">open / clothes</a>
                           
            <!--<div class="collapse navbar-collapse">
                <ul class="nav navbar-nav target">
                    <li class="active"><a href="/closet" class="">Closet</a>

                    </li>
                    <li><a href="/feed" class="">Feed</a>

                    </li>
                    <li><a href="/requests" class="">Notifications</a>

                    </li>
                    <li><a href="/logout" class="">Log Out</a>

                    </li>
                </ul>
            </div>-->
            <!--/.nav-collapse -->
        </div>
    </div>

    </div>

    <div class = "container">
    <div class = "row">
        <div class = "span12">

             <div class= "jumbotron" id="logo"><h1 style=" font-family: 'Duru Sans'"> welcome to a community of fashion-loving women who love to scope new styles and borrow their friends' best pieces </h1> </div>

             <div class = "span12">
                  <p class = "tuticons"><span class = "glyphicon glyphicon-plus"></span></p>
             </div>

             <div class = "span12">
                 <div class= "jumbotron" id="logo"><h1 style=" font-family: 'Duru Sans'"> add items to your closet, let your friends see your best pieces </h1> 
            </div>
       

            <div> 
                <p class = "tuticons"><img src=  "http://www.lundquist.it/wp-content/uploads/2012/11/iconmonstr-user-14-icon.png"style="width:24px; height=24px; opacity: .7; "></img></p>
            </div>

             <div class = "span12">
                 <div class= "jumbotron" id="logo"><h1 style=" font-family: 'Duru Sans'"> find your friends, expand your network & closet </h1> 
            </div>


             <div> 
                <p class = "tuticons"><span class = "fa fa-heart"></span></p>
             </div>

              <div class = "span12">
                 <div class= "jumbotron" id="logo"><h1 style=" font-family: 'Duru Sans'"> like their pieces and discover new brands and styles </h1> 
            </div>


             <div> 
                  <p class = "tuticons"><img src=  "http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/512/Ecommerce-Handshake-icon.png" style="width:18px; height=18px;"></img></p>
            </div
       
            
              <div class = "span12">
                 <div class= "jumbotron" id="logo"><h1 style=" font-family: 'Duru Sans'"> request to borrow the things you love, and let the friends you trust borrow your pieces -- welcome to your infinite closet! </h1> 
            </div>
     </div>
     </div>

    <!-- Begin page content -->
    <div class="container" style="margin-left:-10px; margin-top:-100px;" >
        <form id = "signup" method="post" action="/adduser">
            <input id="inputName" type="text" placeholder="name" name="userdisplayname">
            <input id="inputUsername" type="text" placeholder="username" name="username">
            <input id="inputEmail" type="email" placeholder="email" name="useremail">
            <input id="inputPassword" type="password" placeholder="password" name="userpassword">
            <button class="btn btn-primary" type="submit"> your first item!</button>
        </form>   
    </div>
    <div class="row"></div>
</div>
<div class = "navbar navbar-default navbar-fixed-bottom">
               
                        <div class = "container">
                                
                        </div>
               
                </div>
</div>
</body>
</html>
